@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'MicrogrammaBoldExtendedD';
		src:
			url('/fonts/MicrogrammaBoldExtendedD/font.woff2') format('woff2'),
			url('/fonts/MicrogrammaBoldExtendedD/font.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'MicrogrammaMediumExtendedD';
		src:
			url('/fonts/MicrogrammaMediumExtendedD/font.woff2') format('woff2'),
			url('/fonts/MicrogrammaMediumExtendedD/font.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Virgil';
		src: url('/fonts/Virgil.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html {
		scroll-behavior: smooth;
	}
}

@layer components {
	.theme-toggle .moon,
	.theme-toggle .sun {
		display: none;
	}

	[data-theme='dark'] .theme-toggle .moon {
		display: block;
	}

	[data-theme='light'] .theme-toggle .sun {
		display: block;
	}
	.text-shadow-3d {
		@apply bg-gradient-to-r from-cyan-300 to-blue-400 bg-clip-text font-microgammaBold uppercase text-transparent;
		filter: drop-shadow(1px 1px 0px rgba(22, 78, 99, 1)) drop-shadow(2px 2px 0px rgba(22, 78, 99, 1))
			drop-shadow(3px 3px 0px rgba(22, 78, 99, 1));
	}

	.text-shadow-3d-dark {
		@apply bg-gradient-to-r from-pink-400 to-orange-400 bg-clip-text font-microgammaBold uppercase text-transparent;
		filter: drop-shadow(1px 1px 0px rgba(163, 26, 87, 1))
			drop-shadow(2px 2px 0px rgba(163, 26, 87, 1)) drop-shadow(3px 3px 0px rgba(163, 26, 87, 1));
	}

	.footer {
		@apply border-t border-lightGrid bg-lightBG font-microgammaMedium text-cyan-800 dark:border-darkGrid dark:bg-darkBG dark:text-pink-600;
	}

	.hero-background-dark {
		background: linear-gradient(
				to bottom,
				rgba(16, 18, 20, 0.97) 10%,
				rgba(42, 11, 25, 0.883) 70%,
				rgba(78, 26, 52, 0.5) 100%
			),
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E%3Cg fill='%23a17288' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
		background-attachment: fixed;
	}

	.hero-background {
		background: linear-gradient(
				to bottom,
				rgba(242, 240, 237, 0.97) 10%,
				rgba(155, 189, 198, 0.9) 80%,
				rgba(117, 171, 186, 0.78) 100%
			),
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E%3Cg fill='%23155e75' fill-opacity='0.6'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
		background-attachment: fixed;
	}

	.circle-sketch-highlight,
	.circle-sketch-highlight-dark {
		position: relative;
	}

	.circle-sketch-highlight:before {
		content: '';
		z-index: 1;
		left: -0.2em;
		top: 0.1em;
		border-width: 2px;
		border-style: solid;
		border-color: #155e75;
		position: absolute;
		border-right-color: transparent;
		width: 100%;
		height: 1.2em;
		transform: rotate(3deg);
		opacity: 0.6;
		border-radius: 50%;
		padding: 0.1em 0.25em;
	}

	.circle-sketch-highlight:after {
		content: '';
		z-index: 1;
		left: -0.2em;
		top: 0.2em;
		padding: 0.1em 0.25em;
		border-width: 2px;
		border-style: solid;
		border-color: #155e75;
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		width: 100%;
		height: 1.3em;
		transform: rotate(-1.4deg);
		opacity: 0.8;
		border-radius: 50%;
	}
	.circle-sketch-highlight-dark:before {
		content: '';
		z-index: 1;
		left: -0.2em;
		top: 0.1em;
		border-width: 2px;
		border-style: solid;
		border-color: #f9a8d4;
		position: absolute;
		border-right-color: transparent;
		width: 100%;
		height: 1.2em;
		transform: rotate(3deg);
		opacity: 0.6;
		border-radius: 50%;
		padding: 0.1em 0.25em;
	}

	.circle-sketch-highlight-dark:after {
		content: '';
		z-index: 1;
		left: -0.2em;
		top: 0.2em;
		padding: 0.1em 0.25em;
		border-width: 2px;
		border-style: solid;
		border-color: #f9a8d4;
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		width: 100%;
		height: 1.3em;
		transform: rotate(-1.4deg);
		opacity: 0.8;
		border-radius: 50%;
	}

	.text-color-animate {
		@apply transition-all duration-300 ease-in-out;
	}

	.programming-card {
		@apply flex cursor-pointer items-center justify-around rounded-none border border-b-0 border-lightCardBorder bg-lightCard p-3  transition-all duration-150 ease-in-out  first:rounded-t-2xl last:rounded-b-2xl last:border hover:rounded-2xl hover:border hover:border-cyan-800 hover:bg-lightCardHover hover:shadow-2xl hover:shadow-lightShadow dark:border-darkCardBorder dark:bg-darkCard dark:hover:border-pink-950 dark:hover:bg-darkCardHover dark:hover:shadow-darkShadow md:hover:rotate-1 md:hover:scale-105;
	}

	.programming-card-skill-box {
		@apply flex items-center justify-center gap-1 rounded-lg border border-black/20 bg-[#767676]/20 from-cyan-500 to-blue-500 p-1 text-xs font-bold group-hover:bg-gradient-to-br group-hover:text-black dark:border-white/10 dark:from-orange-600 dark:to-pink-500 sm:gap-2 sm:px-2 sm:text-sm;
	}

	.project-card {
		@apply border-lightCardBorder bg-lightCard hover:border-cyan-800 hover:bg-lightCardHover dark:border-darkCardBorder dark:bg-darkCard dark:hover:border-pink-950 dark:hover:bg-darkCardHover;
	}

	.about-card {
		@apply rounded-2xl border  border-lightCardBorder  bg-lightCard shadow-xl shadow-lightShadow dark:border-pink-950 dark:bg-darkCardHover dark:shadow-darkShadow;
	}

	.about-card-text {
		@apply font-virgil text-cyan-500 dark:text-pink-500;
	}
	.about-card-text-back {
		@apply font-virgil text-cyan-800 dark:text-pink-500;
	}

	.about-card-skill-box {
		@apply inline-block rounded-lg border border-lightGrid bg-lightCardHover px-2 text-sm dark:border-pink-900 dark:bg-pink-900/30;
	}

	.unique-highlight-wrapper {
		position: relative;
		display: inline-block;
	}

	.highlight-background {
		position: absolute;
		width: 100%;
		height: 80%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.highlight-content {
		position: relative;
		z-index: 1;
	}

	.text-decoration {
		@apply bg-gradient-to-r from-cyan-500 to-blue-500 font-bold dark:from-orange-600 dark:to-pink-500;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		display: inline;
		padding: 0.25rem;
	}

	.text-decoration-card {
		@apply bg-gradient-to-r from-cyan-500 to-blue-500 font-bold dark:from-orange-600 dark:to-pink-500;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
	}
}
