---
import Layout from '@/layouts/Layout.astro';
import Skillbox from '@/components/astroComponents/Skillbox.astro';
import HeadingLine from '@/components/astroComponents/HeadingLine.astro';
---

<Layout title="snehan.site | Snehan Chakra Varthi">
	<div
		class="mb-20 flex max-w-5xl flex-col items-center space-y-8 px-4 text-center font-redhat text-sm dark:text-pink-600 sm:px-8 sm:text-base md:px-12"
	>
		<h1
			class="dark:text-shadow-3d-dark text-shadow mt-14 font-microgammaBold text-3xl text-cyan-400 dark:text-white sm:text-5xl"
		>
			snehan.site
		</h1>

		<HeadingLine title="what is it?" />
		<p>
			The site you are looking at, my portfolio site, built using <Skillbox skill="astro" /> and <Skillbox
				skill="three.js"
			/>
			<span class="text-decoration block">
				tip: move the cursor around on my avatar in the home page!
			</span>
		</p>

		<p>For more info check out my github</p>
		<a href=""></a>
	</div>
</Layout>
