---
import Skills from '@/components/Skills.tsx';
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
import ProjectsAll from '@/components/ProjectsAll.astro';
import Avatar from '@/components/reactComponents/Avatar.tsx';
---

<script>
	document.addEventListener('scroll', function () {
		const scrollY = window.scrollY;
		const avatarDiv = document.getElementById('avatar');
		if (avatarDiv) {
			if (scrollY <= window.innerHeight * 0.7) {
				avatarDiv.style.transform = `translateY(${scrollY * 2}px)`;
				avatarDiv.style.display = 'block';
			} else {
				avatarDiv.style.display = 'none';
			}
		}
	});
</script>

<Layout>
	<div class="absolute left-0 z-10 h-screen w-full" id="avatar">
		<Avatar client:load />
	</div>
	<!-- <Hero /> -->
	<Skills client:only="react" />
	<ProjectsAll />
	<About />
</Layout>
