<div class="h-screen"></div>
<section class="absolute left-0 top-0 flex h-screen w-full min-w-0 flex-col items-center">
	<div class="mt-20 flex flex-col items-center md:mt-40">
		<div class="relative flex w-1/2 translate-y-3 items-start">
			<p
				class="text-color-animate -rotate-3 font-virgil text-2xl text-cyan-800 dark:text-pink-600 sm:text-3xl"
			>
				Hellooo!
			</p>
		</div>
		<p
			class="text-color-animate -rotate-3 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 md:text-4xl lg:text-5xl"
		>
			Welcome to the site. <br class="md:hidden" />My name is
		</p>
		<h1
			class="text-color-animate text-shadow-3d dark:text-shadow-3d-dark -rotate-2 px-10 text-center text-6xl"
		>
			SNEHAN CHAKRA VARTHI
		</h1>
		<p
			class="text-color-animate -rotate-1 px-4 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:px-0 md:text-4xl lg:text-5xl"
		>
			a multi-disciplinary<br class="md:hidden" /> developer + designer
		</p>
	</div>
</section>
