---
import { Image } from 'astro:assets';
import Nasa from '../assets/images/collab/nasa.png';
import Ikea from '../assets/images/collab/ikea.png';
import Infra from '../assets/images/collab/infra-logo.png';
import Bonbloc from '../assets/images/collab/bonbloc.svg';
---

<section class="flex h-screen w-full flex-col items-center justify-between overflow-clip">
	<div class="mt-20 flex flex-col items-center justify-center md:mt-40">
		<div class="relative flex w-1/2 translate-y-3 items-start">
			<p
				class="text-color-animate -rotate-3 font-virgil text-2xl text-cyan-800 dark:text-pink-600 sm:text-3xl"
			>
				Hellooo!
			</p>
		</div>
		<p
			class="text-color-animate -rotate-3 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 md:text-4xl lg:text-5xl"
		>
			Welcome to the site. <br class="md:hidden" />My name is
		</p>
		<h1
			class="text-color-animate text-shadow-3d dark:text-shadow-3d-dark -rotate-2 text-balance px-10 text-center text-6xl"
		>
			SNEHAN CHAKRA VARTHI
		</h1>
		<p
			class="text-color-animate -rotate-1 px-4 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:px-0 md:text-4xl lg:text-5xl"
		>
			a multi-disciplinary<br class="md:hidden" /> developer + designer
		</p>
	</div>
	<div
		class="text-color-animate mx-auto rotate-3 font-virgil text-xl text-cyan-800 dark:text-pink-600 sm:text-2xl md:mb-10"
	>
		collaborated for projects with
		<div class="flex flex-row items-center justify-center lg:gap-4">
			<Image src={Nasa} alt="Nasa" class="h-8 w-auto lg:h-16 lg:w-auto" />
			<Image src={Ikea} alt="Ikea" class="h-8 w-auto lg:h-16 lg:w-auto" />
			<Image src={Infra} alt="Infra" class="h-10 w-auto lg:h-24 lg:w-auto" />
			<Image src={Bonbloc} alt="Bonbloc" class="h-8 w-auto lg:h-16 lg:w-auto" />
		</div>
	</div>
</section>
