---
import ProgrammingProjects from './astroComponents/ProgrammingProjects.astro';
import Artworks from './astroComponents/Artworks.astro';
import DesignProjects from './astroComponents/DesignProjects.astro';
---

<section id="projects" class="mt-40 flex w-screen max-w-7xl flex-col px-4 pt-20 sm:px-10 md:px-16">
	<h3
		class="text-color-animate z-0 ml-4 rotate-2 font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		And I put them to good use in these
		<span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate"> projects. </span>
	</h3>

	<div class="mt-40">
		<ProgrammingProjects />
	</div>
	<h3
		class="text-color-animate z-0 ml-4 rotate-2 font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		And I put them to good use in these
		<span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate"> projects. </span>
	</h3>
	<div class="mt-40"><DesignProjects /></div>
	<h3
		class="text-color-animate z-0 ml-4 rotate-2 font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		And I put them to good use in these
		<span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate"> projects. </span>
	</h3>
	<div class="mt-40"><Artworks /></div>
</section>
