---
import ProgrammingProjects from './astroComponents/ProgrammingProjects.astro';
import Artworks from './astroComponents/Artworks.astro';
import DesignProjects from './astroComponents/DesignProjects.astro';
---

<section id="projects" class="flex w-full max-w-6xl flex-col px-4 pt-20 sm:px-10 md:px-16">
	<!-- <h3
		class="text-color-animate z-0 mx-4 mt-8 -rotate-2 font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		Take a look at these specially selected <span
			class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate"
		>
			PROJECTS &nbsp;
		</span> where I've showcased my abilities!
	</h3> -->

	<h3
		class="text-color-animate z-0 mx-4 mt-8 -rotate-2 font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		Explore my areas of <span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate">
			EXPERTISE &nbsp;
		</span> across various domains
	</h3>

	<div
		class="text-color-animate z-0 mt-20 flex items-center justify-center gap-4 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		<p>1.</p>
		<h3 class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate text-2xl sm:text-5xl">
			programming
		</h3>
	</div>
	<!-- <p
		class="mt-2 max-w-xl self-center text-pretty pl-10 font-virgil text-base text-cyan-800 dark:text-pink-600 sm:text-lg"
	>
		I'm a full-stack dev geek with a flair for crafting functional eye-catching web apps, dabbling in
		everything from <span class="text-decoration">3D, AR/VR</span> to <span class="text-decoration"
			>LLMS and Generative AI</span
		> With a strong foundation/passion in comp sci and <span class="text-decoration"
			>bachelors degree in information tech</span
		>, I'm always leveling up in the tech game.
	</p> -->

	<div class="mx-auto mt-10 max-w-3xl space-y-8">
		{
			[
				{
					title: 'Full Stack Web Development',
					description:
						'Proficient in crafting end-to-end web solutions, seamlessly integrating frontend and backend technologies to create robust, scalable applications that deliver exceptional user experiences.',
					emoji: 'ðŸŒ'
				},
				{
					title: 'Mobile Application Development',
					description:
						'Experienced in developing cross-platform mobile apps using React Native and Flutter, ensuring smooth performance and native-like experiences across iOS and Android devices.',
					emoji: 'ðŸ“±'
				},
				{
					title: 'Backend Development',
					description:
						'Skilled in designing and implementing efficient server-side architectures, APIs, and databases to power complex applications and ensure optimal performance and security.',
					emoji: 'âš™ï¸'
				},
				{
					title: '3D Interactive Web Applications',
					description:
						'Adept at creating immersive 3D experiences for the web using technologies like Three.js and WebGL, bringing engaging visualizations and interactive elements to life in the browser.',
					emoji: 'ðŸ•¹ï¸'
				},
				{
					title: 'AI and Chatbot Development',
					description:
						'Experienced in developing intelligent conversational interfaces and AI-powered applications, leveraging natural language processing and machine learning to create innovative solutions.',
					emoji: 'ðŸ¤–'
				}
			].map((skill) => (
				<div class=" mt-2 text-center  sm:mt-10 ">
					<div class="flex items-center justify-center gap-2">
						<div class="text-2xl">{skill.emoji} </div>
						<h4 class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate text-2xl">
							{skill.title}
						</h4>
					</div>
					<p class="mt-2 pl-4 font-virgil text-lg text-cyan-800 dark:text-pink-600">
						{skill.description}
					</p>
				</div>
			))
		}
	</div>

	<h3
		class="text-color-animate z-0 mx-auto mt-20 rotate-2 font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		here are some of my <span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate">
			PROGRAMMING PROJECTS &nbsp;
		</span>
	</h3>

	<div class="mt-6">
		<ProgrammingProjects />
	</div>
	<h3
		class="text-color-animate z-0 mt-28 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		<span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate text-2xl sm:text-5xl">
			2. &nbsp;3D CAD + Industrial Design
		</span>
	</h3>
	<p
		class="mt-2 max-w-2xl self-center text-pretty pl-10 font-virgil text-base text-cyan-800 dark:text-pink-600 sm:text-lg"
	>
		Holding a <span class="text-decoration">master's degree in Industrial Design</span> and a keen eye
		for geometry, perspective, and shapes, I've developed several physical products and designed many others.
		My two most significant projects in industrial design were collaborative efforts with <span
			class="text-decoration">NASA</span
		> and <span class="text-decoration">IKEA</span>, which eventually led to the founding of a
		startup. This venture gave me valuable insight into the startup world and business operations.
	</p>
	<div class="mt-10"><DesignProjects /></div>
	<h3
		class="text-color-animate z-0 mt-20 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		<span
			class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate hyphens-auto text-2xl sm:text-5xl"
		>
			3. &nbsp;entrepreneurship
		</span>
	</h3>
	<p
		class="mt-2 max-w-2xl self-center text-pretty pl-10 font-virgil text-base text-cyan-800 dark:text-pink-600 sm:text-lg"
	>
		As a master's student, one of my prototype was showcased at <span class="text-decoration"
			>Milano Design Week</span
		> under IKEA, going viral online and sparking global interest. This led me to co-founding a startup,
		raising over <span class="text-decoration">1 Million SEK</span> to commercialize the concept. Although
		the venture concluded after two years, the experience enriched my understanding of developing meaningful
		global products and services.
	</p>
	<h3
		class="text-color-animate z-0 mt-20 text-center font-virgil text-3xl text-cyan-800 dark:text-pink-600 sm:text-4xl"
	>
		<span class="dark:text-shadow-3d-dark text-shadow-3d text-color-animate text-2xl sm:text-5xl">
			4. &nbsp;art
		</span>
	</h3>
	<p
		class="mt-2 max-w-2xl self-center pl-10 text-center font-virgil text-base text-cyan-800 dark:text-pink-600 sm:text-lg"
	>
		I don't sketch as often as I did in my childhood, but now, I make it a point to preserve them
		since I've lost most of my early sketches. As for art,<span class="text-decoration"
			>it's my escape from reality; there's a certain tranquility in just being with myself, the
			canvas, and letting creativity flow.</span
		>
	</p>

	<div class="mt-10">
		<Artworks />
	</div>
</section>
