---
const { title } = Astro.props;
---

<div class="flex w-full">
	<div
		class="h-1 w-full self-center rounded bg-gradient-to-r from-transparent to-cyan-500 dark:to-rose-400"
	>
	</div>
	<h3
		class="whitespace-nowrap px-2 font-virgil text-2xl font-bold dark:text-pink-600 sm:px-4 sm:text-4xl"
	>
		{title}
	</h3>

	<div
		class={`h-1 rounded w-full self-center bg-gradient-to-r dark:from-rose-400 from-cyan-500 to-transparent`}
	>
	</div>
</div>
