---
import { Image } from 'astro:assets';

import iphone from '@/assets/images/devices/iPhone.png';
import zeroDV from '@/assets/video/zerodvAR.mp4';
import snehan from '@/assets/video/snehan.mp4';

const { className = 'max-w-52', videoChoice } = Astro.props;

const selectedVideo = videoChoice === 'zero' ? zeroDV : snehan;
---

<div class="relative flex justify-center">
	<video
		class="absolute -z-10 mt-[7.9%] rounded-3xl px-[7.2%]"
		autoplay
		muted
		loop
		playsinline
		transition:persist
	>
		<source src={selectedVideo} type="video/mp4" />
		Your browser does not support the video tag.
	</video>
	<Image
		src={iphone}
		alt="Iphone device showing an application"
		class={className}
		loading="eager"
	/>
</div>
