---
import { Image } from 'astro:assets';

import iphone from '@/assets/images/devices/iPhone.png';
import zeroDV from '/video/zerodvAR.mp4';
import snehan from '/video/snehan.mp4';

const { className = 'max-w-52', videoChoice } = Astro.props;

const selectedVideo = videoChoice === 'zerophone' ? zeroDV : snehan;
---

<div class="relative z-0 flex justify-center">
	<video class="absolute -z-10 mt-[8.2%] rounded-3xl px-[7.7%]" autoplay muted loop playsinline>
		<source src={selectedVideo} type="video/mp4" />
		Your browser does not support the video tag.
	</video>
	<Image src={iphone} alt="Iphone device showing an application" class={className} loading="eager" />
</div>
