---
import { Image } from 'astro:assets';

import iphone from '@/images/devices/iPhone.png';
import mobileVideo from '@/assets/video/zerodvAR.mp4';

const { className = 'max-w-52' } = Astro.props;
---

<div class="relative flex justify-center">
	<video
		src={mobileVideo}
		class="absolute -z-10 mt-[8.1%] rounded-3xl px-[7.9%]"
		autoplay
		muted
		loop
	>
		Your browser does not support the video tag.
	</video>
	<Image src={iphone} alt="Zero da Vinci" class={className} />
</div>
