---
import { Image } from 'astro:assets';

import macbook from '@/assets/images/devices/MacBookPro.png';
import zeroDVVideo from '@/assets/video/zerodvvideo.mp4';
import acetraitVideo from '@/assets/video/Acetrait.mp4';

const { className = 'max-w-96', videoChoice } = Astro.props;

const selectedVideo = videoChoice === 'acetrait' ? acetraitVideo : zeroDVVideo;
---

<div class="relative flex justify-center" transition:persist>
	<video class="absolute -z-10 mt-[7.2%] px-[10%]" playsinline autoplay muted loop>
		<source src={selectedVideo} type="video/mp4" />
		Your browser does not support the video tag.
	</video>
	<Image
		src={macbook}
		alt="Macbook Device showing an application"
		class={className}
		loading="eager"
	/>
</div>
