---
import { Image } from 'astro:assets';

type VideoChoice = keyof typeof videoMap;

import macbook from '@/assets/images/devices/MacBookPro.png';
import zeroDVVideo from '/video/zerodvvideo.mp4';
import acetraitVideo from '/video/acetraitcandidate-r.mp4';
import acetraitVideo2 from '/video/acetraitrecruiter.mp4';
import preventAIVideo from '/video/preventai.mp4';
import inovaassistansVideo from '/video/inovaassistans.mp4';

const { className = 'max-w-96', videoChoice } = Astro.props;

const videoMap = {
	zerodv: zeroDVVideo,
	acetrait: acetraitVideo,
	acetrait2: acetraitVideo2,
	preventai: preventAIVideo,
	inovaassistans: inovaassistansVideo
} as const;

const selectedVideo = videoMap[videoChoice as VideoChoice];
---

<div class="relative z-0 flex justify-center">
	<video class="absolute -z-10 mt-[7.2%] px-[10%]" playsinline autoplay muted loop>
		<source src={selectedVideo} type="video/mp4" />
		Your browser does not support the video tag.
	</video>
	<Image
		src={macbook}
		alt="Macbook Device showing an application"
		class={className}
		loading="eager"
	/>
</div>
