---
const { skill } = Astro.props;
---

<span
	class="inline-flex items-baseline gap-1 rounded-md border border-lightCardBorder bg-lightText/20 px-1 text-cyan-950 dark:border-white/10 dark:bg-darkText/10 dark:text-rose-500"
>
	<img
		src={`/logos/${skill.toLowerCase()}.svg`}
		alt={`${skill} logo`}
		class="h-4 w-4 self-center"
	/>
	<span>{skill}</span>
</span>
