---
import '@/styles/globals.css';

import '@fontsource-variable/red-hat-mono';
import { ViewTransitions, fade } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { authorData } from '@/siteConfig';
import { Icon } from 'astro-icon/components';

interface Props {
	title?: string;
}

const { title = 'Snehan Chakra Varthi | 2024 Portfolio' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={authorData.description} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:url" content="https://www.snehan.site/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Snehan Chakra Varthi" />
		<meta property="og:description" content={authorData.description} />
		<meta property="og:image" content="https://www.snehan.site/OG.jpg" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="min-h-screen bg-baseLight dark:bg-stone-950">
		<div
			class="dark:hero-background-dark hero-background flex w-screen justify-center bg-lightBG pb-40 text-lightText transition-colors duration-300 ease-in-out dark:bg-darkBG dark:text-darkText"
		>
			<Navbar />
			<main class="min-w-0 pt-12" transition:animate={fade({ duration: '0.4s' })}>
				<!-- <Icon name="skill-icons:svelte" /> -->
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
